
*{
  box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
  font-weight: 400;
}
html{
 scroll-behavior: smooth;
}
/* HEADER */

.link-all {
  display: flex;
  align-items: center;    
}


.white-bar {
    
  
        height: 115px; 
        background-color: rgb(255, 255, 255); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0; 
        left: 0; 
        width: 100%; 
        z-index: 1000;
        
    }

.blue-logo{
      display: block;
       position: fixed;
       top: -5px;
height: 120px;
 left: 0; 
 margin-left: 150px;
 cursor: pointer;
}


.whatsapp-image {
  height: 80px;   
  position: fixed;   
  bottom: 0; 
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 1000;
  cursor: pointer;

}
.whatsapp-image:hover{
  opacity: 0.5;
    transform: scale(1.1);
}

.link-all{
  display: flex;
 justify-content: flex-end;
  
}

.link-p{ 
 
    
margin-top: 35px;
font-size: 25px;

margin-right: 50px;
color: #444444;
cursor: pointer;

}

.list-nav{ 
  display: flex;
  gap:50px;
list-style-type: none;
  } /* PARA EDITAR AS BOLINHAS DA LISTA, FEITO DIRETO DA LIST, ("ul") */

.link-p a {
  font-weight: 500;
  cursor: pointer;
  color: #444444;
  transition: color 0.3s ease, opacity 0.3s ease;
   text-decoration: none;  /* PARA REMOVER A LINHA DO LINK ("a")*/
     
}

.link-p a:hover {
  opacity: 0.8;
  color: rgb(22, 69, 126);
}

.a-orcamento {
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;  
background-color: rgb(22, 69, 126);
border: none;
border-radius: 10px;
font-weight: 500;
font-size: 25px;
 color: #ffffff;
  cursor: pointer;
font-size: 25px;
margin-top: 35px;
margin-right: 10rem;
width: 100%;
max-width:200px;
height: 50px;
}

.button-orcamento:hover{
  opacity: 0.8;
}
.button-orcamento:active{
    transform: scale(1.05);
    opacity: 0.8;
    background-color: rgb(22, 69, 126); 
 
}

/* HEADER */








/** Inicio **/



.image-background {
    position: relative;
    background-image: url("./assets/Prancheta\ 1\ cópia\ 6.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
   
  border-radius: 40px;
       display: flex;
       color: #ffffff;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  
}
.image-background > * {
    position: relative;
    z-index: 2;
     background-repeat: no-repeat;
   color: #ffffff;
    max-width: 2000px;
    padding: 20px 20px 20px 30px; /* → espaçamento maior à esquerda */
    text-align: left;
  
}

.image-background::before {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* ← transparência mantida */
    z-index: 1;
}




.img-mulher-prestar{  
   position: absolute;
right: 0;
margin-right: 5%;
border-radius: 60px;
height: 60%;}



.text-init{
 margin-top: 5%;
margin-left: 15%;

}


.title-init{
  color: rgb(228, 224, 224);
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1.2;
width: 50%;
} 

.p-main {
  
  font-weight: 400;
font-size: 20px;
color: rgb(255, 255, 255);
width:50%;
margin-top: 5%;
}


.img-raio{
  width: 8%;
height: auto;
gap: 0;


}


.img-selo{
 
  width: 10%;
height: auto;

}
.garantia-selos{

 display: flex;
  flex-direction: row; 
  align-items: center;
  text-align: start;
margin-top: 8rem;


}
.p-garantia strong {
  font-weight: 600;
  font-size: 22px;

}
.p-garantia {
font-size: 22px;
 

   
   
   
}

.element-story-about-prestar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 6rem; 
    position: absolute;
    bottom: -90px; 
    left: 50%;
    transform: translateX(-50%); 
    
    z-index: 5; 
}

.element-story-about-prestar div {
    text-align: center;
}

.element-story-about-prestar strong {
    font-size: 3rem;
    color:#16457e; 
    font-weight: 600;
}

.element-story-about-prestar p {
 font-weight: 500;
    margin: 0;
   font-size: 20px;
    color: #070707;
}
 
.element-story-about-prestar b {
  font-weight: bold;
}

/** Section-to-convence-abaixo **/

.element-to-convence {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 8%;
row-gap: 1rem;
}

.element-to-convence h2 {
color: rgb(22, 69, 126); 
font-size: 30px;
font-weight: 500;
}

.element-to-convence h1 {
font-size: 40px;
font-weight: 500;
}
.element-to-convence strong {
  font-weight: 800;
}

.element-to-convence a {
font-weight: 500;
padding: 16px 36px;
font-size: 20px;
border-radius: 20px;
 background: linear-gradient(to right, #008000, #008080);
margin-top: 1rem;
border-radius: 10px;
 color: #ffff;
  cursor: pointer;
   text-decoration: none;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
   transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
}

.element-to-convence a:hover {

   transform: translateY(-2px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
opacity: 0.7;
}
/** Section-to-convence-**/
.change-line{
margin: 0 auto;
  width: 120vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 1px;
background-color: #cfcfcf;
}



/** Section-part-services-abaixo **/
.init-green-bar{
background: linear-gradient(to right, #008000, #008080);
  padding: 30px 20px; 
 height: 15rem;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin: 80px auto 50px auto; 
  text-align: center;

}

.init-green-bar h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top:4%;
}

.element-part-services h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}





.element-part-services div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
   padding: 60px 20px; 
   width: 450px;
   row-gap: 20px;
   color: #ffffff;
   background: linear-gradient(to right, #008000, #008080);
   transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease;
 overflow: hidden; /** IMPEDE DA DIV ABAIXAR O CONTEUDO DEBAIXO**/
  will-change: transform;
}
.element-part-services div:hover {
   transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    
  background: linear-gradient(to right, #ffffff, #ffffff);
  color: #000000;
 
}

.element-part-services article{
display: flex;
align-items: center;
justify-content: center;
column-gap: 5rem;
margin-top: 5%;
}

.element-part-services div svg {
 transition: transform 0.3s ease;
}
.element-part-services div:hover svg {
  
  animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



.element-part-services h1 {
  margin-top:5%;
   font-size: 25px;
   font-weight: 600;
 
}


.element-part-services p{
  
font-weight: 500;
}
/** Section-part-services- **/


/** Section-part-investment-abaixo **/
.element-part-investment{

  display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
max-width: 100vw;
}

.element-part-investment strong {
color: #000000; 

font-weight: 700;

}


.element-part-investment h1 {
  margin-top: 5rem;
  font-size: 35px;
  font-weight: 500;
  
}

.element-part-investment h2 {
  font-weight: 800;
}


.element-part-investment article {

  display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 5%;
}
.element-part-investment div {  
  
      display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  border-radius: 15px;
  height: 35vh;
  max-width: 17vw;
   padding:60px 20px;
   background-color: #ffffff;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
   row-gap: 30px;
   }



.element-part-investment div svg {
  transition: transform 0.3s ease;
  
}

.element-part-investment div svg {
  
  animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}





.element-part-investment p {
  font-weight: 400;
  display: flex;
  max-width: 20vw;
}


/** Section-part-investment- **/

/** Section-element-orcament **/


.form-orcament {
  
    display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
row-gap: 2rem;
background: linear-gradient(to right, #008000, #008080);
border-radius: 40px;
 padding: 20px 40px;
 max-width: 600px;
 margin: 0 auto;
 margin-top: 9rem;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
} 

.form-orcament h1 {
 color: #ffffff; ;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}


.form-orcament input{
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: 40px;
  border-radius: 5px;
border: none;
  padding-left: 5px;
  outline: #008080;
    width: 100%;
  max-width: 400px;
  font-size: 17px;
  color: #363636;
   font-weight: 500;
}

#file-name {
  color: #ffffff;
  font-size: 20px;
}

.custom-file-label {
    background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color: #050505;
  transition: all 0.3s ease;
  margin-top: -1rem;
}


.custom-file-label:hover {
  color: #000000;
  opacity: 0.7;
}

.form-orcament textarea {
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 5px;
outline: #008080;
  width: 100%;
  max-width: 400px;
  font-size: 17px;
  color: #131111;
  height: 8vh;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   font-weight: 500;
}



.form-orcament button {

box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
color: #000000;
  height: 6vh;
     width: 100%;
  max-width: 300px;
   border-radius: 15px;
   border: none;
   font-size: 22px;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease;
}

.form-orcament button:hover {
 transform: translateY(-2px) scale(1.02);
  opacity: 0.95;
}
.form-orcament button:active{
   transform: scale(0.98);
}

.sub-text-orcament{
text-align: center;
color: #ffffff;
margin-top: -1rem;
font-size: 17px;
width: 100%;
max-width: 400px;

}
/** Section-element-orcament **/



/** Inicio-END**/



/** Project **/


.all-project{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}

.p-project{


 font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top:4%;
}

.blue-bar{


  background-color: rgb(22, 69, 126);
  padding: 20px 30px; 
 height: 250px;
  
  margin: 150px auto 50px auto; 
  
  text-align: center;
}

.h2-element-project{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;


}
.element-project-button button {

  background-color: rgb(22, 69, 126);
  color: white;
padding: 10px 20px;
  border-radius: 8px;
  border: none;
 
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  
margin-top: 50px;
margin-right: 20px;
}

.element-project-button button:hover {
    opacity: 0.7;
}

.element-project-button button:active {
  transform: scale(1.05);
    opacity: 0.8;
    background-color:rgb(22, 69, 126); 
  font-weight: 700;
}


/** Project-END **/




/** FOOTER**/

.element-footer{
display: flex;
  background-color: #ffffff;
  color: #333;
  font-size: 14px;
   flex-wrap: wrap;
   padding: 2rem;
justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
}


.img-p-elements-footer{
 display: flex;
 align-items: flex-start;
flex-direction: column;
gap: 15px;
margin-left: 25rem;
}

.img-social-media {
   display: flex;
   cursor: pointer;

}

.img-social-media img:hover {
  opacity: 0.7;
   transform: scale(1.05);
}

.element-logo-footer{
height: 120px;
 cursor: pointer;
}

.links-element-footer{
 margin-left: 10rem;
}

.links-element-footer,
.contact-element-footer {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
  
}

  .contact-element-footer{
 margin-left: 10rem;}

.element-footer h1 {
  font-size: 22px;
  font-weight: 600;
}

.element-footer a {
font-weight: 500;
text-decoration: none;
font-size: 18px;
}

.element-footer p {
  font-size: 20px;

}
.img-p-elements-footer p {
  width: 100%;
  max-width: 300px;
  font-size: 15px;
}

.footer-copy {
  font-size: 16px;

}

.line-footer{
  width: 100%;
   background-color: #cfcfcf;
   height: 1px;
    
}
/** FOOTER **/