
*{
  box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
  font-weight: 400;
}

 
/* HEADER */

.link-all {
  display: flex;
  align-items: center;    
}


.white-bar {
    
  
        height: 115px; 
        background-color: rgb(255, 255, 255); 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0; 
        left: 0; 
        width: 100%; 
        z-index: 1000;
        
    }

.blue-logo{
      display: block;
       position: fixed;
       top: -5px;
height: 120px;
 left: 0; 
 margin-left: 150px;
 cursor: pointer;
}


.whatsapp-image {
  height: 80px;   
  position: fixed;   
  bottom: 0; 
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 1000;
  cursor: pointer;

}
.whatsapp-image:hover{
  opacity: 0.5;
    transform: scale(1.1);
}
.link-p{ 
 
    margin-left: auto;
margin-top: 25px;
font-size: 25px;


color: #444444;
cursor: pointer;

}

.list-nav{ 
  display: flex;
  gap:50px;
list-style-type: none;
  } /* PARA EDITAR AS BOLINHAS DA LISTA, FEITO DIRETO DA LIST, ("ul") */

.link-p a {
  font-weight: 500;
  cursor: pointer;
  color: #444444;
  transition: color 0.3s ease, opacity 0.3s ease;
   text-decoration: none;  /* PARA REMOVER A LINHA DO LINK ("a")*/
     
}

.link-p a:hover {
  opacity: 0.8;
  color: rgb(22, 69, 126);
}

.button-orcamento {


background-color: rgb(22, 69, 126);
margin-bottom: 15px;
border: none;
border-radius: 10px;
font-weight: 500;
font-size: 25px;
 color: #ffffff;
  cursor: pointer;
 height: 60px;
 width: 170px;
 margin-left: 50px;
 margin-right: 190px;
 margin-top: 40px;
}

.button-orcamento:hover{
  opacity: 0.8;
}
.button-orcamento:active{
    transform: scale(1.05);
    opacity: 0.8;
    background-color: rgb(22, 69, 126); 
 
}

/* HEADER */








/** Inicio **/



.image-background {
    position: relative;
    background-image: url("./assets/Prancheta\ 1\ cópia\ 6.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
   
  border-radius: 40px;
       display: flex;
       color: #ffffff;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
  
}
.image-background > * {
    position: relative;
    z-index: 2;
     background-repeat: no-repeat;
   color: #ffffff;
    max-width: 2000px;
    padding: 20px 20px 20px 30px; /* → espaçamento maior à esquerda */
    text-align: left;
  
}

.image-background::before {
    content: "";
    position: absolute;
    border-radius: 40px;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* ← transparência mantida */
    z-index: 1;
}




.img-mulher-prestar{  
   position: absolute;
right: 0;
margin-right: 5%;
border-radius: 60px;
height: 60%;}



.text-init{
 margin-top: 5%;
margin-left: 15%;

}


.title-init{
  color: rgb(228, 224, 224);
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1.2;
width: 50%;
} 

.p-main {
  
  font-weight: 400;
font-size: 20px;
color: rgb(255, 255, 255);
width:50%;
margin-top: 5%;
}


.img-raio{
  width: 8%;
height: auto;
gap: 0;


}


.img-selo{
 
  width: 10%;
height: auto;

}
.garantia-selos{

 display: flex;
  flex-direction: row; 
  align-items: center;
  text-align: start;
margin-top: 8rem;


}
.p-garantia strong {
  font-weight: 600;
  font-size: 22px;

}
.p-garantia {
font-size: 22px;
 

   
   
   
}

.element-story-about-prestar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 25px;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    gap: 6rem; 
    position: absolute;
    bottom: -90px; 
    left: 50%;
    transform: translateX(-50%); 
    
    z-index: 5; 
}

.element-story-about-prestar div {
    text-align: center;
}

.element-story-about-prestar strong {
    font-size: 3rem;
    color:#16457e; 
    font-weight: 600;
}

.element-story-about-prestar p {
 font-weight: 500;
    margin: 0;
   font-size: 20px;
    color: #070707;
}
 
.element-story-about-prestar b {
  font-weight: bold;
}

/** Section-to-convence-abaixo **/

.element-to-convence {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 8%;
row-gap: 1rem;
}

.element-to-convence h2 {
color: rgb(22, 69, 126); 
font-size: 30px;
font-weight: 500;
}

.element-to-convence h1 {
font-size: 40px;
font-weight: 500;
}
.element-to-convence strong {
  font-weight: 800;
}

.element-to-convence a {
font-weight: 500;
padding: 16px 36px;
font-size: 20px;
border-radius: 20px;
 background: linear-gradient(to right, #008000, #008080);
margin-top: 1rem;
border-radius: 10px;
 color: #ffff;
  cursor: pointer;
   text-decoration: none;
}

.element-to-convence a:hover {
transform: scale(1.1);
opacity: 0.7;
}

.change-line{
margin: 0 auto;
  width: 120vh;
  margin-top: 2rem;
  height: 1px;
background-color: #cfcfcf;
}





.element-part-investment{

  display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
max-width: 100vw;
}

.element-part-investment strong {
color: #000000; 

font-weight: 700;

}


.element-part-investment h1 {
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 500;
}

.element-part-investment h2 {
  font-weight: 800;
}


.element-part-investment article {

  display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 5%;
}
.element-part-investment div {  
  
      display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  border-radius: 15px;
  height: 35vh;
  max-width: 17vw;
   padding:60px 20px;
   background-color: #ffffff;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
   row-gap: 30px;
   }


.element-part-investment p {
  font-weight: 400;
  display: flex;
  max-width: 20vw;
}












.init-green-bar{
background: linear-gradient(to right, #008000, #008080);
  padding: 30px 20px; 
 height: 15rem;

  margin: 150px auto 50px auto; 
  text-align: center;

}

.init-green-bar h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top:4%;
}

.element-part-services h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.element-part-services div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
   padding: 60px 20px; 
   width: 450px;
   row-gap: 20px;
   color: #ffffff;
   background: linear-gradient(to right, #008000, #008080);
}
.element-part-services div:hover {
   background: linear-gradient(to right, #ffff);
  color: #070707;
}


.element-part-services article{
display: flex;
align-items: center;
justify-content: center;
column-gap: 5rem;
margin-top: 5%;
}



.element-part-services h1 {
  margin-top:5%;
   font-size: 25px;
   font-weight: 600;
}


.element-part-services p{
  
font-weight: 500;
}




/** Inicio-END**/



/** Project **/


.all-project{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}

.p-project{


 font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top:4%;
}

.blue-bar{


  background-color: rgb(22, 69, 126);
  padding: 20px 30px; 
 height: 250px;
  
  margin: 150px auto 50px auto; 
  
  text-align: center;
}

.h2-element-project{
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;


}
.element-project-button button {

  background-color: rgb(22, 69, 126);
  color: white;
padding: 10px 20px;
  border-radius: 8px;
  border: none;
 
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  
margin-top: 50px;
margin-right: 20px;
}

.element-project-button button:hover {
    opacity: 0.7;
}

.element-project-button button:active {
  transform: scale(1.05);
    opacity: 0.8;
    background-color:rgb(22, 69, 126); 
  font-weight: 700;
}


/** Project-END **/