
*{
  box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
     font-weight: 500;
}

 
/* HEADER */

.link-all {
  display: flex;
  align-items: center;    
}


.white-bar {
    
  
        height: 115px; 
        background-color: white; 
        position: fixed;
        top: 0; 
        left: 0; 
        width: 100%; 
        z-index: 1000;
        
    }

.blue-logo{
      display: block;
       position: fixed;
       top: -5px;
height: 120px;
 left: 0; 
 margin-left: 150px;
 cursor: pointer;
}


.whatsapp-image {
  height: 80px;   
  position: fixed;   
  bottom: 0; 
  right: 0;
  margin-right: 25px;
  margin-bottom: 25px;
  z-index: 1000;
  cursor: pointer;

}
.whatsapp-image:hover{
  opacity: 0.5;
    transform: scale(1.1);
}
.link-p{ 
 
    margin-left: auto;
margin-top: 25px;
font-size: 25px;


color: #444444;
cursor: pointer;

}

.list-nav{ 
  display: flex;
  gap:50px;
list-style-type: none;
  } /* PARA EDITAR AS BOLINHAS DA LISTA, FEITO DIRETO DA LIST, ("ul") */

.link-p a {
  cursor: pointer;
  color: #444444;
  transition: color 0.3s ease, opacity 0.3s ease;
   text-decoration: none;  /* PARA REMOVER A LINHA DO LINK ("a")*/
}

.link-p a:hover {
  opacity: 0.7;
  color: rgb(22, 69, 126);
}

.button-orcamento {


background-color: rgb(22, 69, 126);
margin-bottom: 15px;

border-radius: 10px;

font-size: 25px;
 color: #ffffff;
  cursor: pointer;
 height: 60px;
 width: 170px;
 margin-left: 50px;
 margin-right: 190px;
 margin-top: 40px;
}

.button-orcamento:hover{
  opacity: 0.8;
}
/* HEADER */








/** Inicio **/
.image-background {
    position: relative;
    background-image: url("./assets/Prancheta\ 1\ cópia\ 6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: top;
   
    
}

.image-background > * {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 2000px;
    padding: 20px 20px 20px 30px; /* → espaçamento maior à esquerda */
    text-align: left;
  
}



.image-background::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* ← transparência mantida */
    z-index: 1;
}




/** Inicio **/


.text-init{

margin-top: 220px;
margin-left: 300px;
}


h1{
  color: rgb(228, 224, 224);
  font-size: 60px;
  font-weight: 700;
  height: 235px;
width: 700px;
line-height: 65px;
}

.p-main {
  font-weight: 400;
font-size: 18px;
color: rgb(255, 255, 255);
width: 680px;
}


.img-raio{
  width: 120px;
height: auto;
gap: 0;


}





.img-selo{
 
  width: 150px;
height: auto;
gap: 0;
}
.garantia-selos{

 display: flex;
  flex-direction: row; /* imagem em cima, texto embaixo */
  align-items: center; /* ou start para alinhar à esquerda */
  text-align: start;
margin-top: 150px;

}

.p-garantia{
font-size: 18px;
  font-weight: 700;
}

/** ABOUT US **/

/** ABOUT US **/